.header {
  background-color: #4D774E;
  top: 0;
  width: 100%;
  position: fixed;
  color: #ffffff;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  -webkit-box-shadow: 0 1px 3px rgb(15, 15, 15, 013);
  -moz-box-shadow: 0 1px 3px rgb(15, 15, 15, 013);
  box-shadow: 0 1px 3px rgb(15, 15, 15, 013);
  z-index: 99;
}

.header ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100%;
}

.header li {
  font-size: larger;
  margin: 3px;
  padding: 2px;
  border-top: 2px solid transparent;
  transition: all 220ms ease-in-out;
}

.header li:hover {
  border-top: 2px solid #F4A442;
}

.header a {
  color: var(--color-grey-100);
  font-size: var(--size-4);
}

.header a:hover,
.header a:active,
.header a.active {
  color: var(--color-grey-200);
}

@media (min-width: 768px) {
  .header ul {
    gap: 0.5rem;
  }

  .header a {
    font-size: var(--size-5);
  }
}