.header {
  background-color: #4D774E;
    width: 100%;
    position:fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    height: 3rem;
    padding: 0 5%;
    margin: auto;
    -webkit-box-shadow: 0 1px 3px rgb(15, 15, 15, 013);
    -moz-box-shadow: 0 1px 3px rgb(15, 15, 15, 013);
    box-shadow: 0 1px 3px rgb(15, 15, 15, 013);
    z-index: 99;
  }

  .header a {
    left: 0;
  }

  .header ul {
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #E8E1D9;
    position: fixed;
    left: 0;
    top: 3rem;
    z-index: -1;
  }
  
  .header li {
    font-size: xx-large;
      width: 100%;
    margin-top: 15px;
    margin-left: 5vw;
    padding: 2px;
    border-top: 2px solid transparent;
    transition: all 220ms ease-in-out;
  }
  
  .header li:hover {
    border-top: 2px solid #F4A442;
  }
 

  .navv {
    top: 3rem;
    z-index: -1;
  }