.start {
    margin-top: 20vh;
    margin-bottom: 20vh;
    align-items: center;
}

.title {
    margin: 0 auto;
    width: 30%;
    font-size: 3em;
}

.line{
    margin: auto;
    width: 75vw;
    height: 4vh;
    border-bottom: 1px solid black;
    margin-bottom: 40px;
    }

.us {
    float: left;
    width: 384px;
    height: 512px;
    margin: 0 100px 75px 125px;
}

.about {
    font-size: 1.5em;
    margin: 0 100px 30px 100px;
    font-weight: normal;
}