.imageContainer {
  /* background-color: #a9a9a9; */
  /* position: absolute; */
  /* display: flex; */
  margin: 0;
  padding: 0;
  width: 100%;
  height: 583px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 30%;
  text-align: center;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;
  width: 75%;
}
.h1 {
 margin: auto;
  font-family: 'Playfair Display', serif;
  color:#ffffff;    
  letter-spacing:1px;
  font-weight:700;
  font-size: 50px;
}
.h2 {
  margin: auto;
  margin-top: 5vh;
   font-family: 'Playfair Display', serif;
   color:#ffffff;    
   letter-spacing:1px;
   font-weight:450;
   font-size: 30px;
 }


/* CSS */
.button {
  background-color: #4D774E;
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
  border: 1px solid #125C13;
  border-radius: 8px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  /* font-size: 16px; */
  font-size: 20px;
  font-weight: normal;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 26px 63px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
  z-index: 10;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button:focus-visible {
  box-shadow: #222222 0 0 0 2px, #164A41 0 0 0 4px;
  transition: box-shadow .2s;
}

.button:active {
  background-color: #164A41;
  border-color: #F4A442;
  transform: translate(-50%, -50%) scale(.96);
}

.button:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}


 
  @media only screen  and (max-width : 1060px) {

  }

  @media only screen  and (max-width : 915px) {

  .button {
      padding: 23px 33px;
      top: 70%;
    }
  }

  @media only screen  and (max-width : 755px) {
    .imageContainer {
      height: 480px;
    }
  .button {
      font-size: 16px;
      padding: 19px 29px ;
    }
  }

  @media only screen  and (max-width : 623px) {

    .h1 {
      font-size: 40px;
    }
    .h2 {
      font-size: 20px;
    }
  .button {
      padding: 23px 33px;
    }
  }
  

  @media only screen and (max-width : 600px) {
    
 
  .button {
      padding: 19px 29px;
    }
  }

  @media only screen  and (max-width : 500px) {

    .h1 {
      font-size: 35px;
    }
    .h2 {
      font-size: 15px;
    }
  
  }

  @media only screen and (max-width: 470px) {

    .button {
        font-size: 12px;
        padding: 10px 20px;
        top: 75% ;
      }
      
  }

  @media only screen  and (max-width : 445px) {

    .h1 {
      font-size: 30px;
    }
    .h2 {
      font-size: 10px;
    }
  
  }
  
