.glass {
    position: absolute;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 15px;
    backdrop-filter: blur(11px);
    background-color: rgba(18,92,19, 0.255);
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
    border: 1px rgba(255,255,255,0.4) solid;
    border-bottom: 1px rgba(40,40,40,0.35) solid;
    border-right: 1px rgba(40,40,40,0.35) solid;
    top: 31%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
  }
  
  .hero h1 {
    
    font-family: 'Playfair Display', serif;
    color:#E8E1D9;    
  /* text-shadow: 1px 0 #b2e1d8; */
  letter-spacing:1px;
  font-weight:bold;
    /* z-index: 1; */
  }
  