.why {
  display: flex;
  flex-direction: column;
  margin: 80px;
  margin-top: 80px;
  justify-content: center;
  align-items: center;
}

.imageContainer {
  position: relative;
  width: 580px;
  height: 320px;
  margin: 40px;
  margin-right: 0;
  box-shadow:
    6.3px 5.4px 22.1px rgba(0, 0, 0, 0.08),
    50px 43px 217px rgba(0, 0, 0, 0.041);

}

.left>.imageContainer:nth-child(2) {
  margin-right: 40px;
  margin-left: 0;
}

.services {
  margin-top: 50px;
  display: flex;
  width: 100%;
  height: fit-content;
  flex-direction: column;
}

.each {
  font-size: 1.3rem;
  line-height: 250%;
  margin: auto;
  list-style-type: none;
}

.head {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 3em;
  color: #4D774E;
}

.examples {
  height: 270px;
  width: 430px;
  -webkit-box-shadow: inset 0px 0px 25px -4px #000000;
  box-shadow: inset 0px 0px 25px -4px #000000;
  margin-bottom: 20vh;
}

.left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  margin-top: 20vh;
}

.each>li::before {
  content: '';
  display: inline-block;
  height: 40px;
  width: 40px;
  background-size: 40px;
  background-image: url("/checked.svg");
  background-repeat: no-repeat;
  margin-right: 10px;
  background-position: center center;
  vertical-align: middle;
}

@media only screen and (max-width : 1040px) {
  .imageContainer {
    width: 450px;
    height: 248px;
  }

  .services {
    width: 100vw;
  }
}

/* Desktops and laptops ----------- */
@media only screen and (max-width : 820px) {
  .each {
    font-size: 1rem;
    margin-left: 5vw;
  }

  .each>li::before {
    height: 30px;
    width: 30px;
    background-size: 30px;
  }

  .imageContainer {
    width: 400px;
    height: 221px;
  }

  .left {

    margin-top: 10vh;
  }
}

/* Large screens ----------- */
@media only screen and (max-width : 690px) {
  .each {
    margin-left: 0;
  }
}

@media only screen and (max-width : 655px) {
  .imageContainer {
    width: 350px;
    height: 193px;
  }
}

@media only screen and (max-width : 600px) {
  .each>li::before {
    height: 20px;
    width: 20px;
    background-size: 20px;
  }

  .imageContainer {
    width: 300px;
    height: 166px;
  }

  .head {
    font-size: 2em;
  }

  .services {
    margin-top: 0;
  }

  .left {
    margin-top: 3vh;
  }
}

@media only screen and (max-width : 545px) {
  .imageContainer {
    margin-left: 20px;
  }

  .left>.imageContainer:nth-child(2) {
    margin-right: 20px;
  }
}


@media only screen and (max-width : 520px) {
  .each {
    font-size: .8rem;
    padding: 20px;
  }
}


@media only screen and (max-width : 500px) {
  .imageContainer {
    width: 250px;
    height: 140px;
  }

  .head {
    font-size: 1.5em;
  }
}

@media only screen and (max-width : 450px) {
  .imageContainer {
    width: 200px;
    height: 110px;
  }

  .left {
    margin-top: 1.5vh;
  }
}

@media only screen and (max-width : 400px) {
  .each {
    font-size: .5rem;
  }

  .each>li::before {
    height: 10px;
    width: 10px;
    background-size: 10px;
  }

  .head {
    font-size: 1em;
  }
}

@media only screen and (max-width : 355px) {
  .each {
    padding: 10px;
  }

  .imageContainer {
    margin-left: 10px;
  }

  .left>.imageContainer:nth-child(2) {
    margin-right: 10px;
  }
}

@media only screen and (max-width : 320px) {

  .head {
    font-size: .8em;
  }
}