.top {
    background-color: #164A41;
    color: #ffffff;
    -webkit-box-shadow: 0 1px 3px rgb(15, 15, 15, 013);
    -moz-box-shadow: 0 1px 3px rgb(15, 15, 15, 013);
    box-shadow: 0 1px 3px rgb(15, 15, 15, 013);
    z-index: 99;
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
}

.foot {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.topHeader {
    margin-top: 10vh; 
    margin-bottom: 2vh;
    font-size: 1.5rem;
    font-weight: normal;
}
.bigHeader {
    font-weight: normal;
    margin: 0;
    font-size: 3rem;
}

.llc {
    margin-top: 5vh;
}

.button {
    background-color: #4D774E;
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
    border: 1px solid #125C13;
    border-radius: 8px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    outline: none;
    padding: 23px 33px;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
    user-select: none;
    -webkit-user-select: none;
    width: auto;
    z-index: 10;
    margin-top: 5vh;
  }

  
.button:focus-visible {
    box-shadow: #222222 0 0 0 2px, #164A41 0 0 0 4px;
    transition: box-shadow .2s;
  }
  
  .button:active {
    background-color: #164A41;
    border-color: #F4A442;
    transform: translate(0%, 0%) scale(.96);
  }
  
  .button:disabled {
    border-color: #DDDDDD;
    color: #DDDDDD;
    cursor: not-allowed;
    opacity: 1;
  }

  .line{
    margin: auto;
    width: 75vw;
    height: 4vh;
    border-bottom: 2px solid #ffffff;
    }

    .bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 2vh 20vw 5vh 20vw;
    }

    .social {
        margin-right: 15px;
        /* margin-bottom: 10px; */
    }

      @media only screen  and (max-width : 675px) {
        .bottom {
          margin: 2vh 5vw 5vh 12vw;
        }
      }
    
      @media only screen  and (max-width : 490px) {
        .topHeader {
            margin-top: 10vh; 
            margin-bottom: 2vh;
            font-size: 1rem;
            font-weight: normal;
        }
        .bigHeader {
            font-weight: normal;
            margin: 0;
            font-size: 2rem;
        }
      }
    
       @media only screen  and (max-width : 325px) {
        .topHeader {
            font-size: .9rem;
        }
        .bigHeader {
            font-size: 1.8rem;
        }
        .bottom {
          margin: 2vh 0vw 5vh 5vw;
        }
      }