.top {
    background-color: #164A41;
    color: #ffffff;
    /* margin-top: 10vh; */
    -webkit-box-shadow: 0 1px 3px rgb(15, 15, 15, 013);
    -moz-box-shadow: 0 1px 3px rgb(15, 15, 15, 013);
    box-shadow: 0 1px 3px rgb(15, 15, 15, 013);
    z-index: 99;
}

.foot {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* bottom: 0; */
    margin-top: 20vh;
}
.topHeader {
    margin-top: 10vh; 
}
.bigHeader {
    margin: 0;
    font-size: xxx-large;
}

.llc {
    margin-top: 5vh;
}

.button {
    background-color: #4D774E;
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
    border: 1px solid #125C13;
    border-radius: 8px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    /* font-weight: normal; */
    line-height: 20px;
    margin: 0;
    outline: none;
    padding: 23px 33px;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
    user-select: none;
    -webkit-user-select: none;
    width: auto;
    z-index: 10;
    margin-top: 5vh;
    /* top: 90%; */
    /* left: 50%;
    transform: translate(-50%, -50%); */
  }

  
.button:focus-visible {
    box-shadow: #222222 0 0 0 2px, #164A41 0 0 0 4px;
    transition: box-shadow .2s;
  }
  
  .button:active {
    background-color: #164A41;
    border-color: #F4A442;
    transform: translate(0%, 0%) scale(.96);
  }
  
  .button:disabled {
    border-color: #DDDDDD;
    color: #DDDDDD;
    cursor: not-allowed;
    opacity: 1;
  }

  .line{
    margin: auto;
    width: 75vw;
    height: 4vh;
    border-bottom: 2px solid #ffffff;
    /* position: absolute; */
    }

    .bottom {
        display: flex;
        justify-content: space-between;
        margin: 30px 20vw 0 20vw;
        bottom: 0;
    }

    .social {
        margin-right: 15px;
        margin-bottom: 10px;
    }