html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Playfair Display', serif;
    background-color: #E8E1D9;
    color: #125C13;
    letter-spacing:1px;
font-weight:bold;
max-width: 100%;
    overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
